{% load static %}
{% load front_utils %}
{% api_uri as the_api_uri %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="{% static "front/style.css" %}" />

    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <script src="{% static "front/js/chartjs-plugin-colorschemes.min.js" %}"></script>

    <script>
        Chart.platform.disableCSSInjection = true;
        const base_api_url = "{{ the_api_uri }}";
    </script>
    <title>{% block title %}---{% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body class="bg-dark text-white">
    <div class="container-fluid">
        <div class="row justify-content-md-center">
            <div class="col-sm-12 col-md-12 col-lg-6">
                <header class="mb-auto">
                    {% block menu %}
                    {% include "front/_menu.html" %}
                    {% endblock menu %}
                </header>
                {% block breadcrumb_block %}{% endblock %}
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="mt-5 col-sm-12 col-md-12 col-lg-6">
                <div>
                    <ul class="nav nav-tabs">
                        {% block breadcrumb %}{% endblock %}
                    </ul>
                </div>
                <div class="pb-5">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
        <div class="p-5"></div>
        <div class="row mt-5 text-right">
            <div class="col-12">
                <footer class="mt-auto fixed-bottom pr-2 pt-2 ">
                    <div class="inner">
                        <p>Coronavirus Makers</p>
                    </div>
                </footer>
            </div>
        </div>
    </div>
    </div>
  </body>
</html>
